$bg_color:#F4F5F7;
$border_color:#D0D0D0;
$header_height:60px;

$base_font_color:#111111;

$tag_color:#A9D0F5;

$status_color_end:#696969;

$pickup:#F78181;
$status_color_noend:#F78181;

<<<<<<< HEAD

$link_color: #347dc5;
$link_color_title:#2E9AFE;

a{
        color: $link_color;
}

a{
    h3{
        color: $link_color_title;
    }
}
=======
//質問タイトルのリンクの色
$link_color:#2E9AFE;

.question {
    a{
        color: $link_color;
    }
}

>>>>>>> cdf4246ca62c97ed5ac88205782318bb6ccbd5e3
