$bg_color:#F4F5F7;
$border_color:#D0D0D0;
$header_height:60px;

$tag_color:#337ab7;

$status_color_end:#696969;

$status_color_noend:#F5A9BC;

//質問タイトルのリンクの色
.question {
    a{
        color: #1A0DAB;
    }
}

