@import 'variables';
.top_wrapper{
  .content{
    .topview_wrapper {
      margin-top:$header_height;
      text-align: center;
      position: relative;
      width: 100%;
      img {
        width: 90%;
      }
      h1 {
        position: absolute;
        color: white;
        top: 60%;
        left: 27%;
        font-size: 3.4vw;
        background-color: rgba(0,0,0,0.3);
        padding: 1vw;
        border-radius: 2vw;
        backdrop-filter: blur(2px);
        box-shadow: 0 0 1.6vw rgba(0,0,0,0.3);
      }
      
    }
    .ranking_wrapper{
      margin-top: 2vw;
      h1 {
        text-align: center;
        font-size: 30px
      }
      .question{
        padding:10px 10px 20px 10px;
        border-bottom:solid 1px lighten($border_color);
        
        a{
        color:$link_color;
        }
        .question_title {
          margin: 10px 0;
        }
        .question-status {
           #end{
            background-color:$status_color_end;
            width: 50px;
            text-align: center;
            border-radius: 4px;
            color: #F4F5F7;
           }
           #noend{
            background-color: $status_color_noend;
            width: 50px;
            text-align: center;
            border-radius: 4px;
            color: #F4F5F7;
           }
        }
        .question-tag {
          float: left;
          span{
            color:$base_font_color;
            font-weight: lighter;
            background-color: $tag_color;
          }
        }
        .questioner {
          text-align: right;
        }
      }
    }
    .btn {
      margin-top: 20px;
    }
  }
}

@media(max-width: 767px){
  .top_wrapper{
    .content {
      .topview_wrapper {
        //display: none;
        img{
          width: 100%;
        }
        
      }
    }
  }
  
}