/* モーダルウィンドウのcss設定 */
@import 'variables';

.questionShowPage{
	margin-top:$header_height;
  .content{
  		margin-top:30px;;
        .question_title {
          margin: 10px 0;
          border-bottom:solid 2px lighten($border_color);
         }
      	.tag{
      		color:$base_font_color;
            font-weight: lighter;
          	background:$tag_color;
        }
        
        .question_main p{
        	border-radius: 5px; 
        	padding: 5px;
        	border:solid 1px lighten($border_color);
        }
        
        .answer_form_content p{
        	border-radius: 5px; 
        	padding: 5px;
        	border:solid 1px lighten($border_color);
        }
        .reply_form_content{
        	margin-top: 5%;
        	margin-bottom: 5%;
        	
        	form{
        		margin-top: 5%;
        		margin-bottom: 5%;
        	}
        }
        .answer_form_content{
        	padding-left: 5%;
        	border-bottom:solid 1px lighten($border_color);
        }
        .reply_form{
        	padding-left: 5%;
        	border-bottom:solid 1px lighten($border_color);
        }
        .answer_count{
        	border-bottom:solid 2px lighten($border_color);
        	span{
        		color: $pickup;
        	}
        }
    }
 }

.modal-body{
	textarea{
		margin:auto;
		width: 80%;
	}
}

