.header {
  z-index: 10;
  height: 60px;
  background: #3c3c3c;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header .nav .header_menu {
  display: flex;
  max-width: 1152px;
  width: 90%;
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header .nav .header_menu li {
  list-style: none;
}
.header .nav .header_menu li a {
  color: #fff;
}
.header .nav .header_menu .header_serch {
  color: black;
  margin-left: 70px;
}
.header .nav .header_menu .header_serch form {
  width: 300px;
}
.header .nav .header_menu .header_serch input.search {
  width: 250px;
  border-radius: 7px;
}
.header .nav .header_menu .header_serch button {
  border-radius: 5px;
}
.header .nav .header_menu_title {
  font-size: 40px;
  font-weight: bold;
  margin-right: 5px;
}
.header .nav .header_menu_title a {
  text-decoration: none;
}
.header .nav .header_menu_inner {
  padding: 0;
  align-items: center;
  margin-right: 0;
  font-weight: bold;
}
.header .nav .header_menu_inner li {
  display: inline-block;
  margin: 3px 0;
}
.header .nav .header_menu_inner a {
  font-size: 11px;
  padding: 2px;
  margin: 0 5px 0 0;
  text-decoration: none;
  border-radius: 3px;
  background: #3c3c3c;
  color: white;
}
.header .nav .header_menu_inner a:hover {
  background: #808080;
}
.header .nav .header_menu_new {
  width: 190px;
}
.header .nav .header_menu_new .nav-link {
  color: white;
  font-weight: bold;
  background: #0c0;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  margin-right: 0;
}
.header .nav .header_menu_new .nav-link:hover {
  background: #0a0;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 1152px) {
  .header .nav .header_menu {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header .nav .header_menu {
    padding-left: 0;
  }
  .header .nav .header_menu .header_serch {
    display: none;
  }
}
