a {
  color: #347dc5;
}
a h3 {
  color: #2e9afe;
}
.top_wrapper .content .topview_wrapper {
  margin-top: 60px;
  text-align: center;
  position: relative;
  width: 100%;
}
.top_wrapper .content .topview_wrapper img {
  width: 90%;
}
.top_wrapper .content .topview_wrapper h1 {
  position: absolute;
  color: white;
  top: 60%;
  left: 27%;
  font-size: 3.4vw;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1vw;
  border-radius: 2vw;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 1.6vw rgba(0, 0, 0, 0.3);
}
.top_wrapper .content .ranking_wrapper {
  margin-top: 2vw;
}
.top_wrapper .content .ranking_wrapper h1 {
  text-align: center;
  font-size: 30px;
}
.top_wrapper .content .ranking_wrapper .question {
  padding: 10px 10px 20px 10px;
  border-bottom: solid 1px #d0d0d0;
}
.top_wrapper .content .ranking_wrapper .question a {
  color: #347dc5;
}
.top_wrapper .content .ranking_wrapper .question .question_title {
  margin: 10px 0;
}
.top_wrapper .content .ranking_wrapper .question .question-status #end {
  background-color: #696969;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  color: #f4f5f7;
}
.top_wrapper .content .ranking_wrapper .question .question-status #noend {
  background-color: #f78181;
  width: 50px;
  text-align: center;
  border-radius: 4px;
  color: #f4f5f7;
}
.top_wrapper .content .ranking_wrapper .question .question-tag {
  float: left;
}
.top_wrapper .content .ranking_wrapper .question .question-tag a {
  color: #111;
  font-weight: lighter;
  background-color: #a9d0f5;
}
.top_wrapper .content .ranking_wrapper .question .questioner {
  text-align: right;
}
.top_wrapper .content .btn {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .top_wrapper .content .topview_wrapper img {
    width: 100%;
  }
}
