/* モーダルウィンドウのcss設定 */a {
  color: #347dc5;
}
a h3 {
  color: #2e9afe;
}
.questionShowPage {
  margin-top: 60px;
}
.questionShowPage .content {
  margin-top: 30px;
}
.questionShowPage .content .question_title {
  margin: 10px 0;
  border-bottom: solid 2px #d0d0d0;
}
.questionShowPage .content .question_title .bookmark {
  text-align: right;
}
.questionShowPage .content .tag {
  color: #111;
  font-weight: lighter;
  background: #a9d0f5;
}
.questionShowPage .content .tag:hover {
  color: white;
}
.questionShowPage .content .question_main p {
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #d0d0d0;
}
.questionShowPage .content .answer_form_content p {
  background-color: #fcfcfc;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #d0d0d0;
}
.questionShowPage .content .question_edit_form {
  margin-top: 10px;
}
.questionShowPage .content .answer_edit_form details summary::-webkit-details-marker, .questionShowPage .content .question_edit_form details summary::-webkit-details-marker {
  display: none;
}
.questionShowPage .content .answer_edit_form details summary, .questionShowPage .content .question_edit_form details summary {
  color: #347dc5;
  cursor: pointer;
}
.questionShowPage .content .answer_edit_form form, .questionShowPage .content .question_edit_form form {
  margin-top: 10px;
}
.questionShowPage .content details summary {
  cursor: pointer;
}
.questionShowPage .content .reply_form_content {
  margin-top: 5%;
  margin-bottom: 5%;
}
.questionShowPage .content .reply_form_content form {
  margin-top: 5%;
  margin-bottom: 5%;
}
.questionShowPage .content .answer_form_content {
  padding-left: 5%;
  border-bottom: solid 1px #d0d0d0;
}
.questionShowPage .content .reply_form {
  padding-left: 5%;
  word-wrap: break-word;
  border-bottom: solid 1px #d0d0d0;
}
.questionShowPage .content .answer_count {
  border-bottom: solid 2px #d0d0d0;
}
.questionShowPage .content .answer_count span {
  color: #f78181;
}
.questionShowPage .content h4 span {
  color: #f78181;
}
.modal-body textarea {
  margin: auto;
  width: 80%;
}
