/* モーダルウィンドウのcss設定 */.questionShowPage {
  margin-top: 60px;
}
.questionShowPage .content {
  margin-top: 30px;
}
.questionShowPage .content .question_title {
  margin: 10px 0;
  border-bottom: solid 2px #d0d0d0;
}
.questionShowPage .content .tag {
  color: #111;
  font-weight: lighter;
  background: #a9d0f5;
}
.questionShowPage .content .question_main p {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #d0d0d0;
}
.questionShowPage .content .answer_form_content p {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #d0d0d0;
}
.questionShowPage .content .reply_form_content {
  margin-top: 5%;
  margin-bottom: 5%;
}
.questionShowPage .content .reply_form_content form {
  margin-top: 5%;
  margin-bottom: 5%;
}
.questionShowPage .content .answer_form_content {
  padding-left: 5%;
  border-bottom: solid 1px #d0d0d0;
}
.questionShowPage .content .reply_form {
  padding-left: 5%;
  word-wrap: break-word;
  border-bottom: solid 1px #d0d0d0;
}
.questionShowPage .content .answer_count {
  border-bottom: solid 2px #d0d0d0;
}
.questionShowPage .content .answer_count span {
  color: #f78181;
}
.modal-body textarea {
  margin: auto;
  width: 80%;
}
